<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <b> <a class="navbar-brand" href="index.html">Media Store</a></b>
    </div>

    <ul class="nav navbar-top-links navbar-right">

        <li>
            <a href="aindex.html">
                Home
                <i class="fa fa-home fa-fw"></i>
            </a>
        </li>

        <li class="dropdown">
            <a href="acharts.html">
                Charts
                <i class="fa fa-bar-chart-o fa-fw"></i>
            </a>
        </li>
        
        <li class="dropdown">
            <a href="aduplicatem.html">
                Duplicate media
                <i class="fa fa-copy fa-fw"></i>
            </a>
        </li>
        
        <li class="dropdown">
            <a href="aduplicatef.html">
                Duplicate folder
                <i class="fa fa-folder-open fa-fw"></i>
            </a>
        </li>
        
        <li class="dropdown">
            <a href="agallery.html">
                Gallery
                <i class="fa fa-picture-o fa-fw"></i>
            </a>
        </li>
    </ul>
</nav>
